include AUTHORS
include COPYING*
include HACKING.README
include NEWS
include README
include INSTALL
include concerto_gui.pot
include conf/concerto_gui.conf
include conf/plugins/*.conf
include conf/menu.yml
include themes/*.less
include scripts/concerto.wsgi
recursive-include concerto_gui *
